{% extends "AppWeb/base.html " %}
  
{% load static %}

{% block content %}


  <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'AppWeb/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Importacion y Distribucion</span>
            <span class="section-heading-lower">Productos Medicos</span>
          </h2>
          <p class="mb-3">Brindamos soluciones integrales tanto a profesionales de la salud
            como a sus pacientes...
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Somos una empresa que importa y distribuye productos médicos y hospitalarios a todo el país, brindando así soluciones integrales tanto a los profesionales de la salud como a los pacientes, conectándolos con una amplia selección de insumos médicos.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}